.modal

%nav

%div.github
  %a{href: "https://github.com/davidvanleeuwen/blog"}
    %img{alt: "Fork me on GitHub", src: "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"}

%article