%header
  %h1 David van Leeuwen
  %p JavaScript developer, <a href="http://madeawkward.com">Awkward</a> co-founder and working on <a href="http://shipmentapp.com">Shipment</a>
  %a.ss-icon{href: "https://github.com/davidvanleeuwen"} &#xF671;
  %a.ss-icon{href: "https://twitter.com/davidvanleeuwen"} &#xF611;
  %a.ss-icon{href: "skype:david.sonic?userinfo"} &#xF6A0;

.bb-items