!!! 5
%html
  %head
    %title David van Leeuwen
    
    %script{data-main: "/scripts/app", src: "/scripts/vendor/require.js"}

    %link{href: "/stylesheets/main.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link{rel: "icon", href: "/images/favicon.png", type: "image/png"}
    %link{rel: "icon", href: "/images/favicon.ico", type: "image/x-icon"}

  %body