!!! 5
%html
  %head
    %title David van Leeuwen
    
    %script{data-main: "scripts/blog", src: "scripts/vendor/require.js"}

    %link{href: "stylesheets/main.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link{rel: "icon", href: "images/favicon.png", typxe: "image/png"}
    %link{rel: "icon", href: "images/favicon.ico", type: "image/x-icon"}

  %body
    %nav
      %header
        %h1 David van Leeuwen
        %p JavaScript developer, Awkward co-founder and working on Shipment

      %a.active{href: "#"}
        %h2 Build a blog using Grunt
        %p As my phone likes to do, it was all abuzz with tweets and what not about folks enjoying SXSW.

    %article