!!! 5
%html
  %head
    %title David van Leeuwen
    
    %script{data-main: "scripts/blog", src: "scripts/vendor/require.js"}

    %link{href: "stylesheets/main.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link{rel: "icon", href: "images/favicon.png", typxe: "image/png"}
    %link{rel: "icon", href: "images/favicon.ico", type: "image/x-icon"}

    :javascript
      var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
      analytics.load("qn8owhy59c");

  %body
    %nav
      %header
        %h1 David van Leeuwen
        %p JavaScript developer, <a href="http://madeawkward.com">Awkward</a> co-founder and working on <a href="http://shipmentapp.com">Shipment</a>

      %a.active{href: "#"}
        %h2 Build a blog using Grunt
        %p Let's create a blog, using JavaScript and some other simple tools. The articles should be written in Markdown.

    %article